<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $.ajax({
                url: 'http://localhost:3305/all_users',  // Replace with your backend URL
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    data.forEach(function(user) {
                        var userId = user.user_id;
                        var username = user.username;
                        var passcode = user.passcode;
                        var userName = user.user_name;
                        var birthday = user.birthday;
                        var email = user.email;
                        var approved = user.approved;

                        console.log("User ID: " + userId);
                        console.log("Username: " + username);
                        console.log("Passcode: " + passcode);
                        console.log("User Name: " + userName);
                        console.log("Birthday: " + birthday);
                        console.log("Email: " + email);
                        console.log("Approved: " + approved);
                        console.log();
                    });
                },
                error: function(error) {
                    console.error('Error:', error);
                }
            });
        });
    </script>
</head>
<body>
    <!-- Your HTML content goes here -->
</body>
</html>
