<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/HomePage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <h1>My Profile</h1>

    <button class="logout-button" onclick="logout()">Logout</button>

    <div class="profile">
        <div class="profile-item">
            <label>User Type:</label>
            <span id="userType"></span>
        </div>
        <div class="profile-item">
            <label>School:</label>
            <span id="school"></span>
        </div>
        <div class="profile-item">
            <label>User ID:</label>
            <span id="user-id"></span>
        </div>
        <div class="profile-item">
            <label>Username:</label>
            <span id="username"></span>
        </div>
        <div class="profile-item">
            <label>Password:</label>
            <span id="password">*********</span>
        </div>
        <div class="profile-item">
            <label>Name-Surname:</label>
            <span id="user-name"></span>
        </div>
        <div class="profile-item">
            <label>Email:</label>
            <span id="email"></span>
        </div>
        <div class="profile-item">
            <label>Birthday:</label>
            <span id="birthday"></span>
            <button class="edit-button" onclick="editProfile()">
                <i class="fas fa-pencil-alt edit-icon"></i>
            </button>
        </div>
    </div>

    <div class="rectangle-container">
        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/approve/students';">Show</button>
            <p class="rectangle-content">Approve Students</p>
            <div id="notApprovedCountS" class="red-circle"></div>
        </div>


        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/approve/teachers';">Show</button>
            <p class="rectangle-content">Approve Teachers</p>
            <div id="notApprovedCountT" class="red-circle"></div>
        </div>

        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/approve/reviews';">Show</button>
            <p class="rectangle-content">Approve Reviews</p>
            <div id="notApprovedCountR" class="red-circle"></div>
        </div>


        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/approve/rents';">Show</button>
            <p class="rectangle-content">Approve Rents</p>
            <div id="notApprovedCountRents" class="red-circle"></div>
        </div>


        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/approve/reservations';">Show</button>
            <p class="rectangle-content">Approve Reservations</p>
            <div id="notApprovedCountReservations" class="red-circle"></div>
        </div>


        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/approve/returns';">Show</button>
            <p class="rectangle-content">Book Returns</p>
            <div id="notReturned" class="red-circle"></div>
        </div>

        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/handler/books';">Show</button>
            <p class="rectangle-content">The list of all books</p>
        </div>
        
    <div class="rectangle">
        <button class="rectangle-button" onclick="window.location.href='/teacher/rent_a_book';">Rent</button>
        <p class="rectangle-content">Rent a book</p>
      </div>

        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/dduser';">Show</button>
            <p class="rectangle-content">Delete or Deactivate Users</p>
        </div>


        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/teacher/rent_a_book';">Rent</button>
            <p class="rectangle-content">Rent a book</p>
        </div>

        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/avg_likert';">Show</button>
            <p class="rectangle-content">Average likert</p>
        </div>



        <div class="rectangle">
            <button class="rectangle-button" onclick="window.location.href='/delayed';">Show</button>
            <p class="rectangle-content">Users with a delayed return</p>
        </div>





        <!-- Other rectangles -->
    </div>

    <script>

        async function fetchRents() {
            try {
                const response = await fetch(`http://localhost:3305/all_school_rents/${user.user_id}`);
                const RentsData = await response.json();
                return RentsData;
            } catch (error) {
                console.error('Error fetching handlers info:', error);
                return null;
            }
        }

        async function fetchUserData() {
            try {
                const response = await fetch(`http://localhost:3305/allstudents_fromusers_school/${user.user_id}`);
                const userData = await response.json();
                return userData;
            } catch (error) {
                console.error('Error fetching users info:', error);
                return null;
            }
        }

        async function fetchSchoolsData() {
            try {
                const response = await fetch('http://localhost:3305/all_schools');
                const userSchool = await response.json();
                return userSchool;
            } catch (error) {
                console.error('Error fetching schools info:', error);
                return null;
            }
        }

        async function fetchHandlers() {
            try {
                const response = await fetch('http://localhost:3305/allhandlers');
                const handlersData = await response.json();
                return handlersData;
            } catch (error) {
                console.error('Error fetching handlers info:', error);
                return null;
            }
        }
        async function fetchTeachers() {
            try {
                const response = await fetch(`http://localhost:3305/allteachers_fromusers_school/${user.user_id}`);
                const teachersData = await response.json();

                return teachersData;
            } catch (error) {
                console.error('Error fetching teacher info:', error);
                return null;
            }
        }
        function logout() {
            user = undefined;
            localStorage.removeItem("user");
            window.location.href = '/';
        }

        let user = JSON.parse(localStorage.getItem("user"));
        console.log(user);

        if (user === undefined || user === null)
            window.location.href = '/';



        async function fetchReviews() {
            try {
                const response = await fetch(`http://localhost:3305/all_school_reviews/${user.user_id}`);
                const teachersData = await response.json();

                return teachersData;
            } catch (error) {
                console.error('Error fetching teacher info:', error);
                return null;
            }
        }
        async function fetchReservations() {
            try {
                const response = await fetch(`http://localhost:3305/all_school_reservations/${user.user_id}`);
                const reservationsData = await response.json();
                return reservationsData;
            } catch (error) {
                console.error('Error fetching rent info:', error);
                return null;
            }
        }
        async function fetchNotReturned() {
            try {
                const response = await fetch(`http://localhost:3305/rents_not_returned/${user.user_id}`);
                const reservationsData = await response.json();
                return reservationsData;
            } catch (error) {
                console.error('Error fetching rent info:', error);
                return null;
            }
        }


        let isEditing = false;
        let originalPassword = user.passcode;

        async function editProfile() {

            const passcodeElement = document.getElementById("password");
            const editButton = document.getElementsByClassName("edit-button")[0];

            const usernameElement = document.getElementById("username");
            const nameElement = document.getElementById("user-name");
            const emailElement = document.getElementById("email");
            const birthdayElement = document.getElementById("birthday");

            if (!isEditing) {
                // Enter edit mode
                originalUsername = usernameElement.textContent;
                originalPasscode = user.passcode;
                originalName = nameElement.textContent;
                originalEmail = emailElement.textContent;
                originalBirthday = birthdayElement.textContent;
                //save tis palies times
                passcodeElement.textContent = user.passcode;

                usernameElement.contentEditable = true;
                passcodeElement.contentEditable = true;
                nameElement.contentEditable = true;//mporw na ta kanw edit
                emailElement.contentEditable = true;
                birthdayElement.contentEditable = true;

                usernameElement.style.border = "1px solid black";
                passcodeElement.style.border = "1px solid black";
                nameElement.style.border = "1px solid black";
                emailElement.style.border = "1px solid black";
                birthdayElement.style.border = "1px solid black";
                editButton.innerHTML = "OK";
            } else {
                // Save changes and exit edit mode
                const newUsername = usernameElement.textContent;
                const newPasscode = passcodeElement.textContent;
                const newName = nameElement.textContent;
                const newEmail = emailElement.textContent;
                const newBirthday = birthdayElement.textContent;

                user.username = newUsername;
                user.passcode = newPasscode;
                user.user_name = newName;
                user.email = newEmail;
                user.birthday = newBirthday;
                passcodeElement.textContent = "***********";

                usernameElement.contentEditable = false;
                passcodeElement.contentEditable = false;
                nameElement.contentEditable = false;
                emailElement.contentEditable = false;
                birthdayElement.contentEditable = false;

                usernameElement.style.border = "none";
                passcodeElement.style.border = "none";
                nameElement.style.border = "none";
                emailElement.style.border = "none";
                birthdayElement.style.border = "none";
                editButton.innerHTML = '<i class="fas fa-pencil-alt edit-icon"></i>';
                console.log("Now, user is:", user);

                const changehandler = `http://localhost:3305/update_teacher/${user.user_id}/${user.user_name}/${user.username}/${user.birthday}/${user.email}/${user.passcode}`;

                try {
                    const response = await fetch(changehandler);


                    if (response.ok && (user.username !== originalUsername || user.passcode !== originalPasscode || user.user_name !== originalName || user.email !== originalEmail || user.birthday !== originalBirthday)) {
                        console.log("Handler information updated!");
                        console.log(user);
                        alert("Handler information updated successfully!\nPlease log-in again!");

                        user = undefined;
                        localStorage.removeItem("user");
                        window.location.href = '/';

                    } else {
                        console.log("Could not update handler information or no changes were made.");
                    }
                } catch (error) {
                    console.log("This username is already taken!");
                }
            }

            isEditing = !isEditing;
        }

        (async () => {
            const handlersData = await fetchHandlers();
            let flag = false;
            for (const handlersDataItem of handlersData) {
                if (handlersDataItem.user_id === user.user_id) {
                    if (user.approved === 1) {
                        flag = true;
                        schoolID = handlersDataItem.school_id;
                        console.log('You are allowed to stay here!');
                    } else {
                        alert("You are not approved yet");
                        window.location.href = '/';
                    }
                }
            }
            if (!flag) {
                alert('You are not a Handler!');
                window.location.href = '/';
            }

            const userData = await fetchUserData();
            const notApprovedUsers = userData.filter(user => user.approved === 0);
            const notApprovedCountS = notApprovedUsers.length;

            const teacherData = await fetchTeachers();
            const notApprovedUsersT = teacherData.filter(user => user.approved === 0);
            const notApprovedCountT = notApprovedUsersT.length;

            const reviewsData = await fetchReviews();
            const notApprovedUsersR = reviewsData.filter(user => user.approved === 0);
            const notApprovedCountR = notApprovedUsersR.length;



            const rentsData = await fetchRents();
            let notApprovedCountRents = 0;
            const notApprovedListRents = new Set();
            for (const ItemInRents of rentsData) {
                if (ItemInRents.approved === 0 && !notApprovedListRents.has(ItemInRents.rent_id)) {
                    notApprovedListRents.add(ItemInRents.rent_id);
                    notApprovedCountRents++;
                }
            }


            const reservData = await fetchReservations();
            let notApprovedCountReservations = 0;
            const notApprovedListReservations = new Set();
            for (const ItemInReservations of reservData) {
                if (ItemInReservations.approved === 0 && !notApprovedListReservations.has(ItemInReservations.reservation_id)) {
                    notApprovedListReservations.add(ItemInReservations.reservation_id);
                    notApprovedCountReservations++;
                }
            }

            const NotReturnedData = await fetchNotReturned();
            const NotReturnedListData = NotReturnedData.filter(user => (user.returned === 0 && user.approved === 1));
            const notReturned = NotReturnedListData.length;


            const schoolsData = await fetchSchoolsData();
            let schoolsname;
            for (const schoolsDataItem of schoolsData) {
                if (schoolsDataItem.school_id === schoolID) {
                    schoolsname = schoolsDataItem.school_name;
                }
            }
            //console.log(schoolsname);

            document.getElementById("userType").textContent = "Handler";
            document.getElementById("school").textContent = schoolsname;
            document.getElementById("user-id").textContent = user.user_id;
            document.getElementById("username").textContent = user.username;
            document.getElementById("user-name").textContent = user.user_name;
            document.getElementById("email").textContent = user.email;
            const birthdayElement = document.getElementById("birthday");
            const userBirthday = new Date(user.birthday);
            userBirthday.setDate(userBirthday.getDate() + 1);
            const birthday = userBirthday.toISOString().split("T")[0];
            birthdayElement.textContent = birthday;
            document.getElementById("notApprovedCountS").textContent = notApprovedCountS;
            document.getElementById("notApprovedCountT").textContent = notApprovedCountT;
            document.getElementById("notApprovedCountR").textContent = notApprovedCountR;
            document.getElementById("notApprovedCountRents").textContent = notApprovedCountRents;
            document.getElementById("notApprovedCountReservations").textContent = notApprovedCountReservations;
            document.getElementById("notReturned").textContent = notReturned;
        })();



    </script>
</body>

</html>