<!DOCTYPE html>
<html>

<head>
    <title>books</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/BookList.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <h1>
        <a>
            Handlers that have loaned the same number of books in a year with more than 20 loans
        </a>
        <a href="http://localhost:3000/mastoras" style="text-decoration: none; margin-left: 10px;">
            <a id="backButton" onclick="redirectToPreviousPage()">
                <span>&#8617;</span>
            </a>
        </a>
    </h1>

    <div id="book-list"></div>

    <div class="container">
        <div id="reviewsContainer"></div>
    </div>

    <script>
        let user = JSON.parse(localStorage.getItem("user"));
        console.log(user);
 
 
        async function fetchTask() {
            try {
                const response = await fetch(`http://localhost:3305/handlers_over20books`);
                const Data = await response.json();
                return Data;
            } catch (error) {
                console.error('Error fetching Data info:', error);
                return null;
            }
        }

        function redirectToPreviousPage() {
            history.back();
        }


        (async () => {

            if (user.username === 'Mastoras' && user.passcode === 'password') {
                console.log("You are allowed to stay here!");

            }
            else {
                alert("You are not Mastoras!");
                window.location.href = '/';

            }

            const tasksData = await fetchTask();

            //console.log(tasksData.length);
            const reviewsContainer = document.getElementById('reviewsContainer');
                reviewsContainer.innerHTML = ''; 

                if (tasksData && tasksData.length > 0) {
                    tasksData.forEach((user) => {

                        const alldetails = document.createElement('p');
                        alldetails.classList.add('review');

                        const nameElement = document.createElement('p');
                        nameElement.classList.add('comment');
                        nameElement.innerText = "Handler's ID: " + user.user_id;
                        alldetails.appendChild(nameElement);

                        const usernameElement = document.createElement('p');
                        usernameElement.classList.add('comment');
                        usernameElement.innerText = "Handler's Name and Surname: " + user.user_name;
                        alldetails.appendChild(usernameElement);
                        
                        const titleElement = document.createElement('p');
                        titleElement.classList.add('comment');
                        titleElement.innerText = "School's ID: " + user.school_id;
                        alldetails.appendChild(titleElement);

                        const isbnElement = document.createElement('p');
                        isbnElement.classList.add('comment');
                        isbnElement.innerText = "Number of Rented Books: " + user.rented_books;
                        alldetails.appendChild(isbnElement);
/*
                        const reviewElement = document.createElement('p');
                        reviewElement.classList.add('comment');
                        reviewElement.innerText = "Days delayed: " + user.days_passed;
                        alldetails.appendChild(reviewElement);
*/

                        reviewsContainer.appendChild(alldetails);
                    });
                } else {
                    const noReviewsElement = document.createElement('p');
                    noReviewsElement.innerText = 'There are no Authors!';
                    reviewsContainer.appendChild(noReviewsElement);
                }


             

        })();
    </script>
</body>

</head>

</html>